/* START GLOBAL */
:root {
    --bg-blue:oklch(43.359% 0.26216 266.118);
    --color-red-100: oklch(93.6% .032 17.717);
    --color-red-500: oklch(63.7% .237 25.331);
    --color-red-600: oklch(57.7% .245 27.325);
    --color-red-800: oklch(44.4% .177 26.899);
    --color-orange-50: oklch(95.396% 0.03815 76.164 / 0.574);
    --color-orange-100: oklch(95.4% .038 75.164);
    --color-orange-500: oklch(70.5% .213 47.604);
    --color-orange-600: oklch(64.6% .222 41.116);
    --color-orange-800: oklch(47% .157 37.304);
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-600: oklch(68.1% .162 75.834);
    --color-yellow-800: oklch(47.6% .114 61.907);
    --color-green-50: oklch(98.2% .018 155.826);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-400: oklch(79.2% .209 151.711);
    --color-green-500: oklch(72.3% .219 149.579);
    --color-green-600: oklch(62.7% .194 149.214);
    --color-green-700: oklch(52.7% .154 150.069);
    --color-green-800: oklch(44.8% .119 151.328);
    --color-emerald-100: oklch(95% .052 163.051);
    --color-emerald-600: oklch(59.6% .145 163.225);
    --color-emerald-800: oklch(43.2% .095 166.913);
    --color-cyan-100: oklch(95.6% .045 203.388);
    --color-cyan-600: oklch(60.9% .126 221.723);
    --color-cyan-800: oklch(45% .085 224.283);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-blue-800: oklch(42.4% .199 265.638);
    --color-blue-900: oklch(37.9% .146 265.522);
    --color-indigo-50: oklch(96.2% .018 272.314);
    --color-indigo-100: oklch(93% .034 272.788);
    --color-indigo-500: oklch(58.5% .233 277.117);
    --color-indigo-600: oklch(51.1% .262 276.966);
    --color-indigo-700: oklch(45.7% .24 277.023);
    --color-indigo-800: oklch(39.8% .195 277.366);
    --color-purple-100: oklch(94.6% .033 307.174);
    --color-purple-200: oklch(94.643% 0.03284 307.067 / 0.538);
    --color-purple-500: oklch(62.7% .265 303.9);
    --color-purple-600: oklch(55.8% .288 302.321);
    --color-purple-800: oklch(43.8% .218 303.724);
    --color-pink-100: oklch(94.8% .028 342.258);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-pink-600: oklch(59.2% .249 .584);
    --color-rose-700: oklch(51.4% .222 16.935);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-900: oklch(21% .034 264.665);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 20px;
    /* width: 100%; */
}

body {
    background-color: var(--color-gray-100);
    tab-size: 4;
    line-height: 1.5;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.section-card {
    position: relative;
    background-color: white;
    border: 1px solid var(--color-gray-300);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--color-gray-300);
    padding: 1rem;
    margin: 1rem;
}

.section-head {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.section-head h3 {
    margin: 0;
}

.section-head span {
    color: var(--color-gray-500);
}

.section-head span:hover {
    cursor: pointer;
    color: black;
}

.green-bg {
    background-color: var(--color-green-100);
    color: var(--color-green-700);
    border: 1px var(--color-green-50) solid;
}

.red-bg {
    background-color: var(--color-red-100);
    color: var(--color-red-800);
    border: 1px var(--color-red-100) solid;
}

.blue-bg {
    background-color: var(--color-blue-100);
    color: var(--color-blue-700);
    border: 1px var(--color-blue-50) solid;
}

.purple-bg {
    background-color: var(--color-purple-100);
    color: var(--color-purple-600);
    border: 1px var(--color-purple-100) solid;
}

.yellow-bg {
    background-color: var(--color-yellow-100);
    color: var(--color-yellow-600);
    border: 1px var(--color-yellow-100) solid;
}

.pink-bg {
    background-color: var(--color-pink-100);
    color: var(--color-pink-600);
    border: 1px var(--color-pink-100) solid;
}

.orange-bg {
    background-color: var(--color-orange-100);
    color: var(--color-orange-600);
    border: 1px var(--color-orange-100) solid;
}

.green-text {
    color: var(--color-green-400);
}

.red-text {
    color: var(--color-red-500);
}

.blue-text {
    color: var(--color-blue-500);
}
.yellow-text {
    color: var(--color-yellow-600);
}


/* END GLOBAL */

/* Default: Extra-small devices such as small phones (less than 640px) */

/* START HEADER */
.header {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 20px;
}

.header__logo {
    display: flex;
}

.header__logo > img {
    background-color: var(--bg-blue);
    box-shadow: 2px 2px 2px var(--color-gray-700);
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 15px;
    margin: 10px;
}

.brand-name {
    padding: 10px;
}

.brand-name h1 {
    margin: 0px;
}

.brand-name p {
    margin: 0px;
    color: darkslategray;
}

.user__status span {
    position: absolute;
    bottom: 5px;
    right: 1rem;
    left: 1rem;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}

.user__status img {
    width: 9px;
}

.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__user img {
    width: 48px;
    height: 48px;
}

.user-info {
    display: flex;
}

.user-name {
    display: none;
}

.header__user-actions {
    position: relative;
}

.header__user-actions img {
    width: 2rem;
    height: 2rem;
    padding: 7px;
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-gray-300);
    border-radius: 30%;
}

.header__user-actions img:hover {
    background-color: var(--color-gray-300);
    transition-duration: 0.2s;
}

.header__user-actions::after {
    content: "2";
    background-color: var(--color-red-600);
    color: white;
    font-size: small;
    position: absolute;
    top: -0.2rem;
    left: 1.5rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    text-align: center;
}

.user-info .user-image {
    background-color: white;
    padding: 0.5rem 0.7rem;
    border: 1px solid var(--color-gray-300);
    box-shadow: 1px 1px var(--color-gray-300);
    border-radius: 15px;
}

.user-image img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius:  15px;
    border: 1px solid var(--color-gray-100);
    margin: 0px;
}

.user-image:hover {
    box-shadow: 3px 3px var(--color-gray-300);
    transition-duration: 0.2s;
}

/* END HEADER */

/* START NAVBAR */
.side-navbar {
    display: none;
    padding: 0.5rem;
    background-color: white;
}

.side-navbar__logo {
    display: flex;
}

.side-navbar__logo .brand-name {
    display: flex;
    flex-direction: column;
}

.side-navbar .side-navbar__logo img {
    background-color: var(--bg-blue);
    box-shadow: 2px 2px 2px var(--color-gray-700);
    width: 3rem;
    padding: 0.7rem;
    border-radius: 15px;
    margin: 10px;
}

.side-navbar img {
    width: 2rem;
    align-self: center;
}

.side-navbar .section-link:not(.div-selected):hover {
    background-color: var(--color-gray-50);
    cursor:pointer;
}

.side-navbar .div-selected {
    background-color: var(--color-blue-100);
    border: 1px solid var(--color-cyan-100);
    border-radius: 5px;
    color: var(--color-blue-700);
}

.div-selected:hover {
    cursor: pointer;
}

.side-navbar .section-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0px;
    width: 80%;
}

.side-navbar .quick-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-navbar .action img {
    width: 2.5rem;
    padding: 10px;
    border-radius: 10px;
}

.side-navbar .action:hover {
    background-color: var(--color-gray-50);
    transform: translate(2px, -2px);
    transition-duration: 0.2s;
    cursor: pointer;
}

.action-blue img {
    background-color: var(--color-blue-50);
}

.action-blue img:hover {
    background-color: var(--color-blue-100);
}

.action-green img {
    background-color: var(--color-green-50);
}

.action-green img:hover {
    background-color: var(--color-green-100);
}

.action-purple img {
    background-color: var(--color-purple-200);
}

.action-purple img:hover {
   background-color: var(--color-purple-100);
}

.action-orange img {
    background-color: var(--color-orange-50);
}

.action-orange img:hover {
    background-color: var(--color-orange-100);
}

.side-navbar h1, .side-navbar p, .side-navbar span {
    display: none;
}
/* END NAVBAR */


/* START SUMMARY CARDS */

.summary-cards h2 {
    font-weight: 900;
    font-size: 32px;
    margin: 0.5rem;
}

.summary-cards p {
    color: var(--color-gray-500);
    margin: 0.5rem;
}

.summary-cards span img {
    width: 1rem;
    display:block
}

.summary-cards .green-card span {
    color: var(--color-green-700);
    display: flex;
}

.summary-cards .red-card span {
    color: var(--color-red-600);
    display: flex;
}

/* END SUMMARY CARDS */

/* START RECENT ACTIVITIES */
.recent-activities {
    display: flex;
    flex-direction: column;
}

.activity-card {
    display: flex;
    color: var(--color-gray-500);
    padding: 0.5rem;
    border-radius: 15px;
    margin: 1rem;
}

.activity-card > img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;

    background-color: var(--color-gray-300);
}

.activity-details {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.activity-card h3 {
    margin-block: 0.3rem ;
    color: black;
}

.activity-card p {
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
}

.activity-card > span {
    margin-right: auto;
    margin-left: 0.5rem;
}

.activity-card.blue {
    background-color: var(--color-blue-50);
    border-left: 5px solid var(--color-blue-600);
}

.activity-card.blue img {
    background-color: var(--color-blue-100);
}

.activity-card.blue>span {
    color: var(--color-blue-600);
}

.activity-card.green {
    background-color: var(--color-green-50);
    border-left: 5px solid var(--color-green-600);
}

.activity-card.green img {
    background-color: var(--color-green-100);
}

.activity-card.green>span {
    color: var(--color-green-600);
}

.recent-activities > span {
    color: var(--color-blue-700);
    align-self: center;
} 

.recent-activities > span:hover {
    cursor: pointer;
    color: var(--color-blue-900);
}
/* END RECENT ACTIVITIES */

/* START TRANSACTIONS */

.transactions table {
    width: 100%;
    font-size: small;
}

.transactions img {
    width: 2rem;
    border-radius: 50%;
}

.transactions span {
    padding: 0.3rem;
    border-radius: 25px;
}

.transactions .transaction-card img:not([alt="user image"]) {
    padding: 0.5rem;
}

.transactions table thead {
    font-size: medium;
    color: var(--color-gray-700);
}

.transactions table thead td {
    border-bottom: 2px solid var(--color-gray-100);    
}

.transactions table {
    border-spacing: 1rem;
}

.transactions table td>span>img {
    width: 1rem;
    padding: 0px;
}

.transaction-card  {
    display: flex;
    gap: 0.5rem;
}

.transaction-card h3,p {
    margin: 0.1rem;
    font-weight: 400;
}

.transaction-card p {
    color: var(--color-gray-600);
}

.transaction-card .transaction-icon {
    align-self: center;
}

/* END TRANSACTIONS */

/* START BILL TRACKER */

.bill-tracker {
    display: flex;
    flex-direction: column;
}

.bill-tracker__overview {
    text-align: center;
    color: var(--color-gray-500);
}

.bill-tracker__overview h4 {
    font-size: 32px;
    color: black;
    margin: 0px;
}

.bill-tracker .section {
    display: flex;
    justify-content: space-around;
}

.section div {
    background-color: var(--color-gray-50);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-gray-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

.section div img {
    width: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.section span:not(.green-text, .red-text, .yellow-text) {
    color: var(--color-gray-500);
}

/* END BILL TRACKER */

/* START BUDGET OVERVIEW */

.budget-overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.overview-card, .budget-card {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 2rem;
    position: relative;
}

.overview-card::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    background-color: var(--color-gray-300);
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border-radius: 15px;
}

.overview-card::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 75.5%;
    background-color: var(--color-blue-600);
    bottom: 1rem;
    right: 1rem;
    border-radius: 15px;
    z-index: 5;
}

.overview-card p {
    color: var(--color-gray-500);
}

.budget-overview h3 {
    font-size: larger;
    margin-block: 0.5rem;
}

.budget-overview h4 {
    margin-block: 0.5rem;
}

.budget-overview h3:not(.green-text) {
    color: var(--color-blue-800);
}

.overview-card {
    background-color: var(--color-blue-50);
}

.budget-card {
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-100);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.budget-card img {
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    padding: 0.5rem;
    border-radius: 15px;
}

.orange-card svg path {
    fill: orange;
}

.budget-card .spent-section {
    margin-right: auto;
}

.budget-card::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    background-color: var(--color-gray-300);
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border-radius: 15px;
}

.orange-card::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 50%;
    background-color: var(--color-orange-500);
    bottom: 1rem;
    right: 1rem;
    border-radius: 15px;
    z-index: 5;
}

.budget-overview .red-card::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    background-color: var(--color-red-500);
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    border-radius: 15px;
    z-index: 52
}

.pink-card::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 80%;
    background-color: var(--color-pink-500);
    bottom: 1rem;
    right: 1rem;
    border-radius: 15px;
    z-index: 5;
}


.budget-overview .green-card::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 86%;
    background-color: var(--color-green-500);
    bottom: 1rem;
    right: 1rem;
    border-radius: 15px;
    z-index: 5;
}

/* END BUDGET OVERVIEW */

/* START INCOME EXPENSE */

.income-expense {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income-expense__head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

.chart-guide {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.chart-guide span {
    position: relative;
}

.chart-guide .income::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background-color: var(--color-green-600);
    position: absolute;
    bottom: 0.25rem;
    right: -1.5rem;
}

.chart-guide .expense::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background-color: var(--color-red-600);
    position: absolute;
    bottom: 0.25rem;
    right: -1.5rem;
}


.chart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.chart-card {
    margin-top: 186px;
    position: relative;
}

.chart-card span::after {
    content: "";
    height: 120px;
    width: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--color-green-600);
    position: absolute;
    bottom: 1.5rem;
    right: 0.8rem;
}

.chart-card span::before {
    content: "";
    height: 80px;
    width: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--color-red-600);
    position: absolute;
    bottom: 1.5rem;
    left: 0.8rem;
}

/* END INCOME EXPENSE */

/* START ACCOUNT SUMMARY */

.account-summary {
    display: flex;
    flex-direction: column;
}

.account-summary span {
    color: var(--color-gray-500);
    font-size: small;
    font-weight: 500;
}

.summary-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-100);
    border-radius: 10px;
    margin-block: 1rem;
    padding: 1rem;
}

.section-card h4 {
    margin: 0;
    margin-right: auto;
}

.card-image img {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

/* END ACCOUNT SUMMARY */

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.3rem;
    }
    .header span {
        position: static;
        border-radius: 15px;
    }
    .user__status {
        align-self: center;
    }

    .header__user {
        display: flex;
        gap: 0.7rem;
    }

    .user-image {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .user-name {
        display: block;
    }

    .user-name h3 {
        margin: 0;
        font-size: medium;
    }

    .user-name p {
        display: none;
    }

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    .user-name p {
        display: block;
        margin: 0;
        font-size: small;
        color: var(--color-gray-600);
        font-weight: bold;
    }

    body {
        padding-right: 5rem;
    }

    .side-navbar {
        scrollbar-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 5rem;
        overflow-y: scroll;
    }

    .section-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
    }
    .action {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .summary-cards {
        display: flex;
    }

    .summary-cards .section-card {
        width: 33%;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    body {
        padding-right: 15rem;
    }
    .side-navbar {
        width: 15rem;
    }
    .side-navbar p, .side-navbar span, .side-navbar h3, .side-navbar h1, .side-navbar img {
        display: inline;
    }

}
